#searchBarBox {
    -fx-background-color: white;
    -fx-background-radius: 30;
    -fx-padding: 0 0 0 5;
}

#imgSearch {
    -fx-padding: 0 0 0 10;
}

#txtSearch {
    -fx-background-color: white;
}

#btnCart {
    -fx-background-color: transparent;
}

#btnCart:hover {
    -fx-scale-x: 110%;
    -fx-scale-y: 110%;
}

#btnUser {
    -fx-background-color: transparent;
}

#btnUser:hover {
    -fx-scale-x: 110%;
    -fx-scale-y: 110%;
}

#titleBg {
    -fx-background-color: rgba(0, 0, 0, 0.3);

    -fx-border-radius: 0 30 0 0;
    -fx-background-radius: 0 30 0 0;
}

#lblTitle {
    -fx-font-size: 40;
}

#lblGenre {
    -fx-font-size: 20;
    -fx-padding: 0 0 0 0;
}

#lblDate {
    -fx-font-size: 15;
    -fx-padding: 0 0 0 10;
}

.label {
    -fx-text-fill: white;
}

#topPanelBox {
    -fx-padding: 10 0 0 0;
}

#userButton {
    -fx-background-color: #212758;
    -fx-background-radius: 10;
    -fx-text-fill: white;
    -fx-font-size: 16;
}

#userButton:hover {
    -fx-background-color: #582130;
}