
.button {
    -fx-background-color: #212758;
    -fx-text-fill: white;
    -fx-background-radius: 0 0 10 10;
    -fx-border-radius: 0 0 10 10;
}

.button:hover {
    -fx-background-color: #491717;
}

#scrollPane {
    -fx-background-color: transparent;
}

