
.button {
    -fx-background-color: rgba(33, 39, 88, 1);
    -fx-text-fill: white;
    -fx-background-radius: 0 0 10 10;
    -fx-border-radius: 0 0 10 10;
}

.button:hover {
    -fx-background-color: #491717;
}

