#vboxTicketInfo {
    -fx-background-color: #b2b2b2;
    -fx-background-radius: 0 0 0 50;
    -fx-border-radius: 0 0 0 50;
}

#infoBox .label {
    -fx-font-size: 18;
}

#lblLocation, #lblDescription, .label-ticket-info {
    -fx-text-fill: #000000;
}