#vboxMain {
    -fx-padding: 0 0 0 30;
}

#btnDeleteUser {
    -fx-background-color: #480404;
    -fx-background-radius: 10;
    -fx-text-fill: white;
}


#btnSave {
    -fx-background-color: #212758;
    -fx-background-radius: 10;
    -fx-text-fill: white;
}

#btnCancel {
    -fx-background-color: #2d2f36;
    -fx-background-radius: 10;
    -fx-text-fill: white;
}

#btnEdit {
    -fx-background-color: transparent;
    -fx-padding: 0 0 5 0;
}

#btnEdit1 {
    -fx-background-color: transparent;
    -fx-padding: 0 0 5 0;
}

#btnEdit2 {
    -fx-background-color: transparent;
    -fx-padding: 0 0 5 0;
}

.button:hover {
    -fx-scale-y: 102%;
    -fx-scale-x: 102%;
}

#btnAccount {
    -fx-background-color: #212758;
    -fx-background-radius: 10;
    -fx-text-fill: white;
}

#btnTickets {
    -fx-background-color: #212758;
    -fx-background-radius: 10;
    -fx-text-fill: white;
}

#btnLogOut {
    -fx-background-color: #480404;
    -fx-background-radius: 10;
    -fx-text-fill: white;
}

#sidePane {
    -fx-background-color: rgba(240, 240, 240, 1);
}

#outerBox {
    -fx-background-color: lightgray;
    -fx-background-radius: 20;
}

#btnDownload{
    -fx-background-color: #212758;
    -fx-background-radius: 10;
    -fx-text-fill: white;
}

#btnDownload:hover {
    -fx-background-color: #131533;
}

.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: #1a1a75;
    -fx-text-fill: white;
}

.list-cell:even {
    -fx-background-color: white;
}

.list-cell:odd {
    -fx-background-color: lightgray;
}

.list-cell:filled:hover {
    -fx-background-color: #0f0f46;
    -fx-text-fill: white;
}

